<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="block">
            <h1>{{pageTitle}}</h1>
            <h5 class="my-4">Welcome to Google Translate Demo</h3>
            <h5 class="my-4">Here you can translate any phrase you want</h4>

            <form action="/submit" method="post" style="padding-top: 30px;">
                <div class="row my-3">
                    <div class="col-6">
                        <span>Language: (e.g. en, ru, fr)</span>
                    </div>
                    <div class="col-6">
                        <input type="text" name="language">
                    </div>
                </div>
                    
                <div class="row my-3">
                    <div class="col-6">
                        <span>Text that to be translated</span>
                    </div>
                    <div class="col-6">
                        <input type="text" name="word">
                    </div>
                </div>

                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>