<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Submit Page</title>
    </head>
    <body>
        <div class="container">
            <h3>{{address}}</h3>

            <h1>{{temperature}}°C</h1>
            <h3>{{summary}}</h3>

            <span class="additional-info">But it feels like {{actualTemperature}}°C</span>
            <span class="additional-info">Humidity: {{humidity}}%</span>
            <span class="additional-info">Pressure: {{pressure}} mb</span>
            <span class="additional-info">Visibility: {{visibility}} miles</span>
            
            <p style="padding-top: 1rem;"><a href="/" class="btn-goback">Go Back!</a></p>
            

            <div class="block" style="height: 3rem;"></div>

            {{> footer}}
        </div>
    </body>
</html>