<!DOCTYPE html>
<html>
<head>
	<title>Submit Section</title>
</head>
<body>
	<h1>{{title}} ({{year}})</h1>
	<h3>IMDb: {{imdbRating}} ({{imdbVotes}})</h3>
	<h3>Genre: {{genre}}</h3>
	<img src={{poster}}>
</body>
</html>