<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <h3>{{message}}</h3>
        <p>{{screamIt welcomeMessage}}</p>
    </body>
    {{>footer}}
</html>