<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintenance Site</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>The site is currently being updated.</p>
    </body>
</html>