<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Page</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>
    </body>
    {{>footer}}
</html>